<?xml version="1.0"?>
<model>
  <name>Billboard QR Target</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>Drone Pilot</name>
    <email>pilot@simulation.local</email>
  </author>
  <description>A tracking billboard hosting a high-fidelity QR code mapping.</description>
</model>
